<div class="content-cardCompra">
    <div class="card-stadist">
    <div class="card border-primary mb-3" style="max-width: 18rem; height: 200px">
        <div class="card-header">Compras</div>
        <div class="card-body text-primary">
            <h1 class="card-title">Compras realizadas</h1>
        </div>
        </div>
        <div class="card-stadist">
        <div class="card border-primary mb-3" style="max-width: 18rem; height: 200px">
        <div class="card-header">Monto compras</div>
        <div class="card-body text-primary">
            <h1 class="card-title">Total Compras</h1>
        </div>
        </div>
    </div>