<footer>

</footer>

  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script type="module" src="/main.js"></script>
</body>
</html>