<footer>
  <div class="container-footer">
    <img src="../assets/img/Logo_Pez_Mosaico.png" class="logo-footer">
    <ul class="footer-menu">
      <li class="menu-item">
        <a href="/tienda">Tienda</a>
        </li>
      <li class="menu-item">
        <a href="/contacto">Contáctanos</a>
        </li>
      <li class="menu-item">
        <a href="#">Términos</a>
        </li>
    </ul>
    <div class="social-footer">
      <h6>SÍGUENOS EN REDES SOCIALES</h6>
      <div class="container-social">
        <a href="#" class="social-icon"></a>
        <a href="#" class="social-icon"></a>
        <a href="#" class="social-icon"></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <span>&copy; 2023 Pez Mosaico</span>
  </div>
</footer>

</body>

</html>