<body class="body-adm">

<div class="container-menu">
    <div class="cont-menu">
        <nav>
            <a href="/sesionadm">Agregar Productos</a>
            <a href="/delete">Eliminar Productos</a>
            <a href="/modif">Modificar Productos</a>
            <a href="#">Revisar Compras</a>
            <a href="/tienda">Ir a Tienda</a>
        </nav>
<img src="../../assets/img/Logo_Pez_Mosaico.png" alt="" class="logoAdm">
        
    </div>
</div>
              