<div class="div-title">
    <h2>Encuentra lo que necesites para embellecer tu hogar</h2>
</div>
<div class="contenedor-index">
    <div class="divcontainer">
        <div class="div-img">
            <a href="/productos?categoria=1" class="link-img">
                <img src="https://m.media-amazon.com/images/I/91NE3TwFouL.__AC_SX300_SY300_QL70_ML2_.jpg" alt="">
            </a>
        </div>
        <div class="div-text">
            <h4>Decoración Hogar</h4>
            {{!-- <p>productos en esta categoría</p> --}}
        </div>
    </div>
    <div class="divcontainer">
        <div class="div-img">
            <a href="/productos?categoria=2" class="link-img">
                <img src="https://ae01.alicdn.com/kf/Scfd6410d3103440eb1a7891b62854c07N/Kit-de-posavasos-de-mosaico-redondo-de-bamb-Diy-Material-de-decoraci-n-creativo-hecho-a.jpg_Q90.jpg_.webp"
                    alt="">
            </a>
        </div>
        <div class="div-text">
            <h4>Menaje Hogar</h4>
        </div>
    </div>
    <div class="divcontainer">
        <div class="div-img">
            <a href="/productos?categoria=3" class="link-img">
                <img src="https://sodimac.scene7.com/is/image/SodimacCL/4160088_03?wid=1500&hei=1500&qlt=70" alt="">
            </a>
        </div>
        <div class="div-text">
            <h4>Mobiliario</h4>
        </div>
    </div>
    <div class="divcontainer">
        <div class="div-img">
            <a href="/productos?categoria=4" class="link-img">
                <img src="https://i.pinimg.com/originals/2f/ba/f4/2fbaf4208a06cb94ca1c5c96717e54f8.jpg" alt="">
            </a>
        </div>
        <div class="div-text">
            <h4>Misceláneo</h4>
        </div>
    </div>


</div>
<div class="cont-recuadros">
    <div class="right-col">
        <div class="right-box">
            <div class="right-box-left">
                <h3>Algo sobre la técnica...</h3>
                <p>El mosaico es una técnica artesanal que consiste en la creación de una imagen o diseño a partir de la
                    combinación de pequeñas piezas de diferentes materiales como vidrio, cerámica, piedra, metal, entre
                    otros. Esta técnica puede ser utilizada para decorar paredes, pisos, techos y otros objetos
                    decorativos.
                    En la actualidad, el mosaico sigue siendo una técnica muy valorada y requerida por su belleza y
                    versatilidad. Los artistas y artesanos utilizan esta técnica para crear obras de arte únicas y
                    personalizadas, así como para decorar interiores y exteriores de edificios y hogares.

                    El mosaico requiere de habilidad, paciencia y precisión para crear diseños complejos y detallados.
                    Los materiales utilizados también pueden ser costosos y difíciles de manejar, lo que aumenta el
                    valor y la apreciación de las obras de arte creadas con esta técnica.</p>
            </div>
            <div class="right-box-right">
                <img src="../assets/img/trabajando_mosaico.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Swiper -->
<div class="body-slide">
    <div class="container-slide">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../../assets/img/trabajando_mosaico.jpg" alt="" class="slide-img">
                    <div>
                        <div class="card-title">
                            <h6>Producto 1</h6>
                        </div>
                        <div class="card-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, molestiae libero!
                                Provident accusamus, repellendus beatae, voluptas obcaecati.</p>
                        </div>
                    </div>
                    <div class="card-link">
                        <a href="#">Cómpralo ahora!</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/img/Kit-de-posavasos-de-mosaico-redondo-de-bamb-Diy-Material-de-decoraci-n-creativo-hecho-a.jpg_Q90.jpg_.webp"
                        alt="" class="slide-img">
                    <div>
                        <div class="card-title">
                            <h6>Producto 2</h6>
                        </div>
                        <div class="card-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, molestiae libero!
                                Provident accusamus, repellendus beatae, voluptas obcaecati.</p>
                        </div>
                    </div>
                    <div class="card-link">
                        <a href="#">Cómpralo ahora!</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/img/2fbaf4208a06cb94ca1c5c96717e54f8.jpg" alt="" class="slide-img">
                    <div>
                        <div class="card-title">
                            <h6>Producto 3</h6>
                        </div>
                        <div class="card-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, molestiae libero!
                                Provident accusamus, repellendus beatae, voluptas obcaecati.</p>
                        </div>
                    </div>
                    <div class="card-link">
                        <a href="#">Cómpralo ahora!</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/img/2fbaf4208a06cb94ca1c5c96717e54f8.jpg" alt="" class="slide-img">
                    <div>
                        <div class="card-title">
                            <h6>Producto 4</h6>
                        </div>
                        <div class="card-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, molestiae libero!
                                Provident accusamus, repellendus beatae, voluptas obcaecati.</p>
                        </div>
                    </div>
                    <div class="card-link">
                        <a href="#">Cómpralo ahora!</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/img/4160088_03.jpg" alt="" class="slide-img">
                    <div>
                        <div class="card-title">
                            <h6>Producto 5</h6>
                        </div>
                        <div class="card-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, molestiae libero!
                                Provident accusamus, repellendus beatae, voluptas obcaecati.</p>
                        </div>
                    </div>
                    <div class="card-link">
                        <a href="#">Cómpralo ahora!</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/img/91NE3TwFouL.__AC_SX300_SY300_QL70_ML2_.jpg" alt="" class="slide-img">
                    <div>
                        <div class="card-title">
                            <h6>Producto 6</h6>
                        </div>
                        <div class="card-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, molestiae libero!
                                Provident accusamus, repellendus beatae, voluptas obcaecati.</p>
                        </div>
                    </div>
                    <div class="card-link">
                        <a href="#">Cómpralo ahora!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },

        slidesPerView: 1,
        spaceBetween: 10,

        breakpoint: {
            620: {
                slidesPerview: 1,
                spaceBetween: 20
            },
            680: {
                slidesPerview: 2,
                spaceBetween: 40
            },
            920: {
                slidesPerview: 3,
                spaceBetween: 40
            }
        }
    });
    swiper.on('reachEnd', function () {
        setTimeout(function () {
            swiper.slideTo(0, 1000, true);
        }, 2000);
    });
</script>