{{#if user}}
<div class="contenedor-sesion">
    <div class="sesion-user">
        <span>Bienvenido, {{ user }}</span>
    </div>
    <div class="logout">
        <a href="/logout">Cerrar sesión</a>
    </div>
</div>
{{/if}}