{{#> template}}
<main class="ingreso">
  <div class="container right-panel-active">

    <div class="container__form container--signup">
      <form class="form" id="form">
        <h2 class="form__title">Contáctanos</h2>
        <h6>Envíanos tus comentarios, sugerencias o reclamos y te responderemos a la brevedad</h6>
        <input type="text" placeholder="Nombres" class="input" name="nombre" required />
        <input type="email" placeholder="Email" class="input" name="correo" required />
        <div class="mb-3">
          <label for="textarea" class="form-label">Comentarios</label>
          <textarea class="form-control" id="textarea" rows="3" name="mensaje" required></textarea>
        </div>
        <input type="submit" id="button" class="btn btn-primary" value="Enviar">
      </form>
    </div>

    <div class="overlay__panel overlay--right">
      <input type="submit" id="button" class="btn btn-primary" value="Enviar">
    </div>
  </div>
  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

  <script type="text/javascript">
    emailjs.init('eP4NXFIJiWQZ1ATRh')
  </script>
</main>

<script>
  const btn = document.getElementById('button');

  document.getElementById('form')
    .addEventListener('submit', function (event) {
      event.preventDefault();

      btn.value = 'Enviando...';

      const serviceID = 'default_service';
      const templateID = 'template_xfkjdy9';
      const form = document.getElementById('form');

      emailjs.sendForm(serviceID, templateID, this)
          .then(() => {
            btn.value = 'Enviar';
            alert('Mensaje enviado exitosamente');
          }, (err) => {
            btn.value = 'Enviar';
            alert(JSON.stringify(err));
          });
        form.reset();
      });
</script>
{{/template}}