{{#> template}}
<main class="ingreso">
	<div class="container right-panel-active">
		<!-- Sign Up -->
		<div class="container__form container--signup">

			{{#if msjInfo }}
			<div class="info-registro">
				<span>{{ msjInfo }}</span>
			</div>
			{{/if}}
			<form action="/auth" method="post" class="form" id="form1">
				<h2 class="form__title">Acceso usuario</h2>
				{{#if msjError }}
				<div class="error-ingreso">
					<span>{{ msjError }}</span>
				</div>
				{{/if}}
				<input type="text" placeholder="Usuario" class="input" name="usuario" />
				<input type="password" placeholder="Password" class="input" name="password" />
				<a href="#" class="link">Olvidaste tu clave?</a>
				<button class="btn btn-in" value="btn-access" type="submit" id="btn-in"
					name="btn-action">Ingresar</button>
			</form>
		</div>

		<!-- Sign In -->
		<div class="container__form container--signin">

			<form action="/ingreso" class="form" method="post" id="form2">
				<input type="text" placeholder="Nombres" class="input" name="nombres" />
				<input type="text" placeholder="Apellidos" class="input" name="apellidos" />
				<input type="text" placeholder="Número de Carné sin puntos" class="input" name="rut" />
				<input type="text" placeholder="Dirección" class="input" name="direccion" />
				<input type="text" placeholder="Teléfono" class="input" name="telefono" />
				<input type="email" placeholder="Email" class="input" name="email" />
				<input type="text" placeholder="Nombre Usuario" class="input" name="usuario1" />
				<input type="password" placeholder="Password" class="input" name="pass" />
				<button class="btn btn-in" type="submit" value="btn-regist" id="" name="btn-action">Regístrate</button>

			</form>

		</div>

		<!-- Overlay -->
		<div class="container__overlay">
			<div class="overlay">
				<div class="overlay__panel overlay--left">
					<button class="btn-in" id="signIn">Registrarse</button>
				</div>

				<div class="overlay__panel overlay--right">
					<button class="btn-in" id="signUp">Ingresar</button>
				</div>
			</div>
		</div>
	</div>
</main>
{{/template}}

<div class="form-cel">
	<form action="/auth" method="post" class="form" id="form11">
		<h2 class="form__title">Acceso usuario</h2>

		<input type="text" placeholder="Usuario" class="input" name="usuario" />
		<input type="password" placeholder="Password" class="input" name="password" />
		<a href="#" class="link">Olvidaste tu clave?</a>
		<button class="btn btn-in" value="btn-access" type="submit" id="btn-in" name="btn-action">Ingresar</button>
		<div>
			<span id="no_register">No estás registrado? Regístrate aquí</span>
		</div>
	</form>
	<div class="registro-cel">

		<form action="/ingreso" class="form" method="post" id="form22">
			<input type="text" placeholder="Nombres" class="input" name="nombres" />
			<input type="text" placeholder="Apellidos" class="input" name="apellidos" />
			<input type="text" placeholder="Número de Carné sin puntos" class="input" name="rut" />
			<input type="text" placeholder="Dirección" class="input" name="direccion" />
			<input type="text" placeholder="Teléfono" class="input" name="telefono" />
			<input type="email" placeholder="Email" class="input" name="email" />
			<input type="text" placeholder="Nombre Usuario" class="input" name="usuario1" />
			<input type="password" placeholder="Password" class="input" name="pass" />
			<button class="btn btn-in" type="submit" value="btn-regist" id="" name="btn-action">Regístrate</button>
			<div class="info-register">
				<span id="register">Si estás registrado: Ingresa aquí</span>
			</div>
		</form>

	</div>

</div>

<script>
	const formSign = document.querySelector("#form11");
	const formRegis = document.querySelector("#form22");
	const noRegister = document.querySelector("#no_register");
	const register = document.querySelector("#register");

	if (window.matchMedia("(max-width: 540px)").matches) {
		formRegis.style.display = "none";

		noRegister.addEventListener("click", () => {
			formSign.style.display = "none";
			formRegis.style.display = "block";
		})

		register.addEventListener("click", () => {
			formSign.style.display = "block";
			formRegis.style.display = "none";
		})
	}

	const signInBtn = document.getElementById("signIn");
	const signUpBtn = document.getElementById("signUp");
	const fistForm = document.getElementById("form1");
	const secondForm = document.getElementById("form2");
	const container = document.querySelector(".container");

	signInBtn.addEventListener("click", () => {
		container.classList.remove("right-panel-active");
	});

	signUpBtn.addEventListener("click", () => {
		container.classList.add("right-panel-active");
	});


	if (document.querySelector(".error-ingreso")) {
		const msjeFlash = document.querySelector(".error-ingreso");
		setTimeout(() => {
			msjeFlash.classList.add("d-none");
		}, 3000)
	}

	if (document.querySelector(".info-registro")) {
		const msjeFlash = document.querySelector(".info-registro");
		setTimeout(() => {
			msjeFlash.classList.add("d-none");
		}, 4000)
	}
</script>