{{#> template}}
<main class="ingreso">
<div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form action="/ingreso" method="post" class="form" id="form1">
			<h2 class="form__title">Acceso usuario</h2>
			<input type="text" placeholder="Usuario" class="input" name="usuario"/>
			<input type="email" placeholder="Email" class="input" name="email"/>
			<input type="password" placeholder="Password" class="input" name="password" />
			<a href="#" class="link">Olvidaste tu clave?</a>
			<button class="btn btn-in">Ingresar</button>
		</form>
	</div>

	<!-- Sign In -->
	<div class="container__form container--signin">
		<form action="/ingreso" class="form" method="post" id="form2">
			<h2 class="form__title">Registro</h2>
			<input type="text" placeholder="Nombres" class="input" name="nombres"/>
			<input type="text" placeholder="Apellidos" class="input" name="apellidos"/>
			<input type="text" placeholder="Número de Carné" class="input" name="rut"/>
			<input type="text" placeholder="Dirección" class="input" name="direccion"/>
			{{!-- <input type="text" placeholder="Región" class="input" name="RegReg"/>
			<input type="text" placeholder="Comuna" class="input" name="comReg"/> --}}
			<input type="text" placeholder="Teléfono" class="input" name="telefono"/>
			<input type="email" placeholder="Email" class="input" name="email"/>
			<input type="text" placeholder="Nombre Usuario" class="input" name="usuario1"/>
			{{!-- <input type="password" placeholder="PswReg" class="input" name="password" /> --}}
			<button class="btn-in">Regístrate</button>
		</form>
	</div>

	<!-- Overlay -->
	<div class="container__overlay">
		<div class="overlay">
			<div class="overlay__panel overlay--left">
				<button class="btn-in" id="signIn">Registrarse</button>
			</div>
			<div class="overlay__panel overlay--right">
				<button class="btn-in" id="signUp">Ingresar</button>
			</div>
		</div>
	</div>
</div>
</main>
{{/template}}