{{#> template}}
<main>
  <div class="container-nosotros">
    <div class="row">
      <div class="col-md-6 div-nosotros">
        <img src="https://i0.wp.com/regionalista.cl/web/wp-content/uploads/2022/04/Mosaico-Gran-V%C3%ADa-Antofagasta.jpg?w=903&ssl=1" alt="Imagen 1">
      </div>
      <div class="col-md-6 div-text">
        <h1>Nuestra historia</h1>
        <p>Somos una empresa familiar fundada en el año 2000 por Juan y María, dos amantes del arte y la creatividad. Desde muy jóvenes, ambos se sintieron atraídos por la técnica del mosaico, la cual les permitía crear hermosas piezas a partir de pequeños fragmentos de vidrio, cerámica y otros materiales.</p>
        <p>Con el tiempo, Juan y María se especializaron en la técnica del mosaico y comenzaron a crear piezas cada vez más complejas y hermosas. En el año 2000, decidieron unir sus talentos y conocimientos para fundar Pez Mosaico, una empresa dedicada a la elaboración de artesanías únicas y originales.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 div-text">
        <h1>Nuestro equipo</h1>
        <p>En Pez Mosaico contamos con un equipo de artesanos altamente capacitados y comprometidos con la calidad y la creatividad. Cada uno de nuestros artesanos aporta su experiencia y conocimientos para crear piezas únicas y originales, que reflejan la pasión y el amor por el arte del mosaico.</p>
      </div>
      <div class="col-md-6 div-nosotros">
        <img src="https://as2.ftcdn.net/v2/jpg/02/83/24/23/1000_F_283242354_AemwyiVGPElhtriqOZTp9E29fogmHdiI.jpg" alt="Imagen 2">
      </div>
    </div>
  </div>
</main>

{{/template}}