footer {
    height: 160px;
    width: 100%;
    /* position: relative; */
    /* position: absolute; */
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    margin-top: auto;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding-top: 20px;
}

.logo-footer {
    height: 90px;
    margin-bottom: 0.5rem;
}

.container-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: start;
    align-items: center;
    margin-bottom: 0.5rem;
    line-height: 0.2;
}

/* .footer-menu li {
    text-align: left;
} */

.social-footer h6 {
    text-align: center;
}

.social-icon {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: solid 1px #1f1919;
    background-image: url(../img/facebook-svgrepo-com.svg);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover:nth-of-type(1) {
    background-color: rgb(101, 151, 237);
    filter: brightness(1);
}

.social-icon:hover:nth-of-type(2) {
    background-color: rgb(239, 130, 230);
    filter: drop-shadow(1);
}

.social-icon:nth-of-type(2) {
    background-image: url(../img/instagram-svgrepo-com.svg);
}

.social-icon:nth-of-type(3) {
    background-image: url(../img/twitter-svgrepo-com.svg);
}

.footer-menu {
    list-style-type: none;
    color: rgb(68, 64, 64);
    font-size: 14px;
}

.menu-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
    text-align: left;
}

.menu-item:hover {
    opacity: 1;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    text-align: center;
    width: 30%;
    margin-top: 1rem;
}