header {
  /* position: fixed; */
  background-color: rgb(22, 24, 25);
  /* background-color: rgb(199, 248, 207); */
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 130px;
}

span.navbar-toggler-icon {
  border-color: rgb(52, 52, 197);
  border-style: solid;
  border-width: 1.5px 0;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  padding: 1px;
}

a.nav-link {
  padding-right: 10vh !important;
  padding-left: 10vh !important;
  padding-top: 10px;
  font-size: 16px;
  color: antiquewhite;
  border-top: 2px solid transparent;
  border-top-width: fit-content;
  transition: all 400ms ease;
  display: inline;
  width: fit-content;
}

a.nav-link:hover {
  color: rgb(167, 150, 129);
  /* color: rgb(4, 4, 121); */
  font-weight: bold;
  border-top: 2px solid #c7c7c7;
  border-top-width: fit-content;
  /* border-width: 0px 0px 7px 0px; */
  background: #1f1f1f;
  width: fit-content;
}

img.imgCarro {
  height: 5px !important;
  background-color: rgb(22, 24, 25) transparent;
}

img.imgCarro:hover {
  color:rgb(29, 148, 150);
}

nav.navSearch {
  padding-top: 0px;
  top: 0;
}

div.containerSearch {
  display: flex;
  background-color: rgb(29, 148, 150);
  height: 60px;
  justify-content: end !important;
}

form.formSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSearch input.inputSearch {
  width: 500px;
  height: 35px;
  font-size: 16px;
}

.btnSearch {
  width: 70px;
  height: 35px;
  background-color: rgb(22, 24, 25);
  color: antiquewhite;
}

.btnSearch:hover {
  background-color: rgb(74, 96, 109)
}

@media screen and (max-width: 540px ) {
  .formSearch input.inputSearch {
    width: 300px;
    height: 30px;
    font-size: 14px;
  }

  .btnSearch {
    height: 30px;
  }
}

@media screen and (max-width: 1024px ) { 
a.nav-link {
  padding-right: 9vh !important;
  padding-left: 9vh !important;
}
}