header {
  background-color: rgb(22, 24, 25);
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 280px;
}

span.navbar-toggler-icon {
  border-color: rgb(247, 247, 251);
  border-style: solid;
  border-width: 1.5px 0;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  padding: 1px;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
a.nav-link {
  padding-right: 4vh !important;
  padding-left: 4vh !important;
  padding-top: 10px;
  font-size: 20px;
  color: antiquewhite;
  border-top: 2px solid transparent;
  border-top-width: fit-content;
  transition: all 400ms ease;
  display: inline;
  /* width: fit-content; */
}

a.nav-link:hover {
  color: rgb(167, 150, 129);
  font-weight: bold;
  border-top: 2px solid #c7c7c7;
  border-top-width: fit-content;
  background: #1f1f1f;
  /* width: fit-content; */
}

.container-image {
  display: flex;
  justify-content: start !important;
  padding-top: 30px;
}

/*HEADER-BANNER*/
.header-banner,
.cinta-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100px;
}

.cinta-despacho,
.cinta-garantia, .cinta-artesania {
  display: flex;
  flex-direction: row;
  background-color: rgb(242, 163, 123);
  justify-content: center;
  width: 100%;
  height: 100px;
}

.cinta-despacho img {
  width: 80px;
}

.cinta-garantia img {
  width: 60px;
}

.cinta-despacho h4,
.cinta-garantia h4, .cinta-artesania h4 {
  padding-top: 35px;
  padding-left: 10px;
}

/* LOGIN */
.user-photo {
  display: flex;
  justify-content: center;
}

.user-photo img {
  width: 40px;
}

div.user-name {
  color: antiquewhite;
  
}

.user-name {
  text-align: center;
  font-size: 15px !important;
}

div.user-info {
  text-align: center !important;
}

div.user-info a {
  text-decoration: none;
  font-size: 15px !important;
}

/*RESPONSIVIDAD*/
@media screen and (max-width: 540px) { 
  .navbar-nav {
    width: 60% !important;
  }

  a.nav-link {
    width: 100% !important;
    padding-left: 30px !important;
  }


  .cinta-despacho img {
    width: 50px;
  }
  
  .cinta-garantia img {
    width: 30px;
  }

  .cinta-artesania img {
    width: 45px;
  }
  
  .cinta-despacho h4,
  .cinta-garantia h4, .cinta-artesania h4 {
    padding-top: 35px;
    padding-left: 10px;
    font-size: 14px;
  }
  
}

@media screen and (max-width: 912px) {

  div.navbar-collapse.collapse.show {
    z-index: 1000;
  }

  .navbar-nav {
    display: flex;
    justify-content: end !important;
    width: 35%;
    background-color: rgba(22, 24, 25, 0.7);
    z-index: 2000;
    left: 0;
    padding-top: 25px;
  }

  a.btn {
    padding-left: 100px !important;
  }

  img#imgCarrito {
    height: 50px !important;
    background-color: rgba(37, 40, 42, 0.7) !important;
  }
}

@media screen and (max-width: 1024px) {
  a.nav-link {
    padding-right: 9vh !important;
    padding-left: 9vh !important;
  }
}