@import url("ingreso.css");
@import url("header.css");
@import url("card.css");
@import url("cart.css");
@import url("footer.css");
@import url("headerAdm.css");
@import url("index.css");



:root {
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

HTML, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  padding: 1vw;
  display: flex;
  min-height: 100vh;
  background-color: rgb(252, 243, 232);
}

.content {
  flex: 1;
}

@media screen and (max-width: 992px) {
  img#imgCarrito {
    float: left;
    background-color: aliceblue;
  }
}

@media screen and (max-width: 820px) {
  .row.row-cols-2.row-cols-md-4.g-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: auto;
    gap: 5px;
  }

  .card {
    border: solid 1px gray;
    border-radius: 2%;
    padding-bottom: 2vw;
    width: 45vw;
    height: max-content;
  }

}

@media screen and (max-width: 420px) {
  .row.row-cols-1.row-cols-md-2.g-4 {
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 0px 7px;
    margin-top: 0px;
    margin-right: 0px;
    gap: 5px;
  }

  .card {
    border: solid 1px gray;
    border-radius: 2%;
    padding-bottom: 2vw;
    margin-right: 20px;
    width: 85vw;
    height: max-content;
  }

  .btn.btn-info {
    width: 20vw !important;
  }
}


/* Formulario contacto */

.form-control {
  font-size: 2rem;
}

.container--signup .btn-primary {
  margin-bottom: 25px;
}

.homeText {
  padding-top: 12rem;
  padding-left: 2rem;
  padding-right: 8rem;
  width: 100%;
}

.homeText h4 {
  color: purple;
  font-size: xx-large;
  padding-bottom: 2rem;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 12rem;
  padding-right: 2rem;
  position: relative;
}

.carousel-inner {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

.img-slide {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3%;
}

.carousel-control-next {
  margin-right: 3rem;
}

/* MODIF.HBS*/
#filasPdtos th img {
  width: 50px;
}

/*FORM ADDPDTO.HBS*/
.form-addPdto {
  width: 100%;
  margin-top: 2rem;
 margin-left: 220px;

}

.formBody input {
display: flex;
flex-direction: row;
border: 1px solid grey;
width: 350px;
}

/* FORM MODPDTO - MODIFICAR*/
#imgModif {
  width: 50px;
}

.tablaPdtos {
  width: 50%;
}

.body-adm {
  width: calc(100% - 220px);
  right: 0;
  margin-left: 220px;
}

input {
  background-color: #fff;
	border: none;
	padding: 0.5rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
}

input.inputMod {
  background-color: #fff;
	border: none;
	padding: 0.5rem 0.9rem ;
	margin: 0.5rem 0;
	width: 70px;
}

input.inputModName {
width: 150px;
}

input.inputModLink {
  width: 300px;
  }

  